@model Jepun.Web.PS.Models.PsFundAccViewModel
@using Jepun.Web.PS.Comm
@{
    Layout = null;
}
<div class="alert alert-info" role="alert">基金匯款帳號表</div>
@using (Html.BeginForm("", "BackFundAcc", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "FormBackFundAcc", onsubmit = "return false" }))
{
    @Html.ValidationSummary(true)
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="form-group jepun-upcoming">
                <div class="col-sm-2 control-label">
                    <label>上架日</label>
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.QryStartDate, new { htmlAttributes = new { max = "2100-12-31" } }).DT(new HtmlAttrs { PlaceHolder = "YYYY / MM / DD", ErrMsg = Jepun.Resource.Lab.PleaseInput + "上架日" })
                    @Html.ValidationMessageFor(model => model.QryStartDate)
                </div>
                <div class="col-sm-2 control-label">
                    <label>下架日</label>
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.QryEndDate, new { htmlAttributes = new { max = "2100-12-31" } }).DT(new HtmlAttrs { PlaceHolder = "YYYY / MM / DD", ErrMsg = Jepun.Resource.Lab.PleaseInput + "下架日" })
                    @Html.ValidationMessageFor(model => model.QryEndDate)
                </div>
            </div>

            <div class="form-group jepun-upcoming">
                <div class="col-sm-2 control-label">
                    <label>狀態</label>
                </div>
                <div class="col-sm-2">
                    @Html.DropDownListFor(model => model.QryType, Enumerable.Empty<SelectListItem>()).Sel()
                </div>
                <div class="col-sm-2">
                    @Html.DropDownListFor(model => model.QryStatus, Enumerable.Empty<SelectListItem>()).Sel()
                </div>
                <div class="col-sm-2 control-label">
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary" name="BtnQry">查詢</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>　標題　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　異動　　　上稿日期　　狀態　<button type="button" class="btn btn-primary btn-xs" name="QryFlow">歷史流程</button></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4">
                                    <select size="6" class="form-control" name="FundAccNo"></select>
                                    @Html.HiddenFor(model => model.LogSN).Txt()
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <label>基金名稱</label>
                </div>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.CNO, Enumerable.Empty<SelectListItem>()).Sel()
                    @Html.ValidationMessageFor(model => model.CNO)
                </div>
                <div class="col-sm-2 control-label">
                    <label>基金幣別</label>
                </div>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.CUR, Enumerable.Empty<SelectListItem>()).Sel()
                    @Html.ValidationMessageFor(model => model.CUR)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <label>基金級別</label>
                </div>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.FundLev, Enumerable.Empty<SelectListItem>()).Sel()
                    @Html.ValidationMessageFor(model => model.FundLev)
                </div>
                <div class="col-sm-2 control-label">
                    <label>匯款銀行名稱</label>
                </div>
                <div class="col-sm-4">
                    @Html.TextAreaFor(Model => Model.BankName).Txt(new HtmlAttrs { PlaceHolder = Jepun.Resource.Lab.PleaseInput + "匯款銀行名稱" })
                    @Html.ValidationMessageFor(model => model.BankName)
                </div>

            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <label>匯款戶名名稱</label>
                </div>
                <div class="col-sm-4">
                    @Html.TextAreaFor(Model => Model.AccName).Txt(new HtmlAttrs { PlaceHolder = Jepun.Resource.Lab.PleaseInput + "匯款戶名名稱" })
                    @Html.ValidationMessageFor(model => model.AccName)
                </div>
                <div class="col-sm-2 control-label">
                    <label>匯款帳號</label>
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(Model => Model.Acc).Txt(new HtmlAttrs { PlaceHolder = Jepun.Resource.Lab.PleaseInput + "匯款帳號" })
                    @Html.ValidationMessageFor(model => model.Acc)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <label>單筆申購最低金額</label>
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(Model => Model.FundOrderLowAmt).Txt(new HtmlAttrs { PlaceHolder = Jepun.Resource.Lab.PleaseInput + "單筆申購最低金額" })
                    @Html.ValidationMessageFor(model => model.FundOrderLowAmt)
                </div>
                <div class="col-sm-2 control-label">
                    <label>定期定額申購每次最低金額</label>
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(Model => Model.FundContractLowAmt).Txt(new HtmlAttrs { PlaceHolder = Jepun.Resource.Lab.PleaseInput + "定期定額申購每次最低金額" })
                    @Html.ValidationMessageFor(model => model.FundContractLowAmt)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <label>上架日</label>
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { max = "2100-12-31" } }).DT(new HtmlAttrs { PlaceHolder = "YYYY / MM / DD", ErrMsg = Jepun.Resource.Lab.PleaseInput + "上架日" })
                    @Html.ValidationMessageFor(model => model.StartDate)
                </div>
                <div class="col-sm-2 control-label">
                    <label>下架日</label>
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { max = "2100-12-31" } }).DT(new HtmlAttrs { PlaceHolder = "YYYY / MM / DD", ErrMsg = Jepun.Resource.Lab.PleaseInput + "下架日" })
                    @Html.ValidationMessageFor(model => model.EndDate)
                </div>
                @*<div class="col-sm-2 control-label">
                    <label>備註</label>
                </div>
                <div class="col-sm-4">
                    @Html.TextAreaFor(Model => Model.Remark).Txt(new HtmlAttrs { PlaceHolder = Jepun.Resource.Lab.PleaseInput + "備註" })
                        @Html.ValidationMessageFor(model => model.Remark)
                </div>*@
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <button class="btn btn-primary" type="button" name="BtnIns">新增</button>
            <button class="btn btn-primary" type="button" name="BtnUpd">修改</button>
            <button class="btn btn-primary" type="button" name="BtnDel">刪除</button>
        </div>
        <div class="col-sm-3">
            @Html.DropDownListFor(model => model.NextFlow, Enumerable.Empty<SelectListItem>()).Sel()
            @*@Html.DropDownListFor(model => model.NextFlow, Enumerable.Empty<SelectListItem>()).Sel()
                @Html.ValidationMessageFor(model => model.NextFlow)*@
        </div>
        <div class="col-sm-3">
            <button class="btn btn-primary" type="button" name="BtnFlow">確定</button>
        </div>
    </div>

}
<script src="~/Scripts/Apps/BackFundAcc.js?@ServiceHelper.CacheBusting()"></script>


