@model Jepun.Web.PS.Models.PsHoldingWeightViewModel
@using Jepun.Web.PS.Comm
@{
    Layout = null;
}
<div class="alert alert-info" role="alert">境內基金持股</div>
@using (Html.BeginForm("", "BackHoldingWeight", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "FormBackHoldingWeight", onsubmit = "return false" }))
{
    @Html.ValidationSummary(true)
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="form-group jepun-upcoming">
                <div class="col-sm-2 control-label">
                    <label>上架日</label>
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.QryStartDate, new { htmlAttributes = new { max = "2100-12-31" } }).DT(new HtmlAttrs { PlaceHolder = "YYYY / MM / DD", ErrMsg = Jepun.Resource.Lab.PleaseInput + "上架日" })
                    @Html.ValidationMessageFor(model => model.QryStartDate)
                </div>
                <div class="col-sm-2 control-label">
                    <label>下架日</label>
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.QryEndDate, new { htmlAttributes = new { max = "2100-12-31" } }).DT(new HtmlAttrs { PlaceHolder = "YYYY / MM / DD", ErrMsg = Jepun.Resource.Lab.PleaseInput + "下架日" })
                    @Html.ValidationMessageFor(model => model.QryEndDate)
                </div>
            </div>

            <div class="form-group jepun-upcoming">
                <div class="col-sm-2 control-label">
                    <label>狀態</label>
                </div>
                <div class="col-sm-2">
                    @Html.DropDownListFor(model => model.QryType, Enumerable.Empty<SelectListItem>()).Sel()
                </div>
                <div class="col-sm-2">
                    @Html.DropDownListFor(model => model.QryStatus, Enumerable.Empty<SelectListItem>()).Sel()
                </div>
                <div class="col-sm-2 control-label">
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary" name="BtnQry">查詢</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>　標題　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　異動　　　上稿日期　　狀態　<button type="button" class="btn btn-primary btn-xs" name="QryFlow">歷史流程</button></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4">
                                    <select size="6" class="form-control" name="HoldingWeightNo"></select>
                                    @Html.HiddenFor(model => model.LogSN).Txt()
                                    @Html.HiddenFor(model => model.CID).Txt()
                                    @Html.HiddenFor(model => model.FID).Txt()
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <label>基金</label>
                </div>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.Fund, Enumerable.Empty<SelectListItem>()).Sel()
                    @Html.ValidationMessageFor(model => model.Fund)
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-primary" type="button" name="BtnCopy">複製</button>
                </div>
                @*<div class="col-sm-2 control-label">
                        <label>備註</label>
                    </div>
                    <div class="col-sm-4">
                        @Html.TextAreaFor(Model => Model.Remark).Txt(new HtmlAttrs { PlaceHolder = Jepun.Resource.Lab.PleaseInput + "備註" })
                        @Html.ValidationMessageFor(model => model.Remark)
                    </div>*@
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <label>上架日</label>
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { max = "2100-12-31" } }).DT(new HtmlAttrs { PlaceHolder = "YYYY / MM / DD", ErrMsg = Jepun.Resource.Lab.PleaseInput + "上架日" })
                    @Html.ValidationMessageFor(model => model.StartDate)
                </div>
                <div class="col-sm-2 control-label">
                    <label>下架日</label>
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { max = "2100-12-31" } }).DT(new HtmlAttrs { PlaceHolder = "YYYY / MM / DD", ErrMsg = Jepun.Resource.Lab.PleaseInput + "下架日" })
                    @Html.ValidationMessageFor(model => model.EndDate)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <button class="btn btn-primary" type="button" name="BtnIns">新增</button>
                    <button class="btn btn-primary" type="button" name="BtnUpd">修改</button>
                    <button class="btn btn-primary" type="button" name="BtnDel">刪除</button>
                </div>
                <div class="col-sm-3">
                    @Html.DropDownListFor(model => model.NextFlow, Enumerable.Empty<SelectListItem>()).Sel()
                    @*@Html.DropDownListFor(model => model.NextFlow, Enumerable.Empty<SelectListItem>()).Sel()
                        @Html.ValidationMessageFor(model => model.NextFlow)*@
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-primary" type="button" name="BtnFlow">確定</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>　前十大標的</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>　公司名稱　　　　　　　　　　　　　　　　　　　　　　　　　　　產業類別　　　　　　　　　　　　基金持股權重　　　　　</th>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <select size="6" class="form-control" name="HoldingWeightFund"></select>
                                    @Html.HiddenFor(model => model.LogSN2).Txt()
                                    @Html.HiddenFor(model => model.Num).Txt()
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <label>公司名稱</label>
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(Model => Model.Name).Txt(new HtmlAttrs { PlaceHolder = Jepun.Resource.Lab.PleaseInput + "公司名稱" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                <div class="col-sm-2 control-label">
                    <label>產業類別</label>
                </div>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.IndType, Enumerable.Empty<SelectListItem>()).Sel()
                    @Html.ValidationMessageFor(model => model.IndType)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <label>基金持股權重</label>
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(Model => Model.Weight).Num(new HtmlAttrs { PlaceHolder = Jepun.Resource.Lab.PleaseInput + "基金持股權重"})
                    @Html.ValidationMessageFor(model => model.Weight)
                </div>
                <div class="col-sm-2 control-label">
                </div>
                <div class="col-sm-4">              
                </div>
            </div>
          
            <div class="form-group text-center">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <button class="btn btn-primary" type="button" name="BtnIns2">新增</button>
                    <button class="btn btn-primary" type="button" name="BtnUpd2">修改</button>
                    <button class="btn btn-primary" type="button" name="BtnDel2">刪除</button>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>　產業配置</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>　產業配置　　　　　　　　　　　　　　　　　　　　　　　　　　　基金持股權重　　　　　</th>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <select size="6" class="form-control" name="HoldingWeightFund2"></select>
                                    @Html.HiddenFor(model => model.LogSN3).Txt()
                                    @Html.HiddenFor(model => model.Num2).Txt()
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <label>產業配置</label>
                </div>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.IndType2, Enumerable.Empty<SelectListItem>()).Sel()
                    @Html.ValidationMessageFor(model => model.IndType2)
                </div>
                <div class="col-sm-2 control-label">
                    <label>基金持股權重</label>
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(Model => Model.Weight2).Num(new HtmlAttrs { PlaceHolder = Jepun.Resource.Lab.PleaseInput + "基金持股權重" })
                    @Html.ValidationMessageFor(model => model.Weight2)
                </div>
            </div>
            <div class="form-group text-center">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <button class="btn btn-primary" type="button" name="BtnIns3">新增</button>
                    <button class="btn btn-primary" type="button" name="BtnUpd3">修改</button>
                    <button class="btn btn-primary" type="button" name="BtnDel3">刪除</button>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
}
<script src="~/Scripts/Apps/BackHoldingWeight.js?@ServiceHelper.CacheBusting()"></script>